name: Deploy to Google Storage
on:
  push:
    branches:
      - main
jobs:
  publish-to-google-cloud-storage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: main

      - name: Remove unwanted files/directories
        run: |
          rm -r -f ${{ github.workspace }}/main/.git/
          rm -r -f ${{ github.workspace }}/main/.github/
          rm -r -f ${{ github.workspace }}/main/README.md

      - name: Upload files
        uses: google-github-actions/upload-cloud-storage@main
        with:
          credentials: ${{ secrets.GCS_key }}
          path: ${{ github.workspace }}/main
          destination: boulder-maps/map-kalugerovo
          gzip: true
          parent: false

